* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #2563eb;
    --primary-dark: #1d4ed8;
    --hitam: #1e1e1e;
    --bg: #f4f7fb;
    --card: #ffffff;
    --text: #1f2937;
    --text-light: #6b7280;
    --border: #e5e7eb;
    --shadow: 0 10px 20px rgba(0, 0, 0, .1);
    --radius: 12px;
    --home-card-gap: 16px;
    --home-card-per-view: 2.25;
    --card-radius: 18px;
    --card-gap: 16px;
    --section-gap: 32px;
    --button-radius: 14px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg);
    color: var(--text);
}
.container {
    margin: 0;
    padding:0;
}
.container-explore {
    margin: 0;
    padding:16px;
}
.header {
    background: var(--primary);
    color: white;
    text-align: center;
    padding: 16px 16px 0px;
}
.header h1 {
    font-size: 20px;
    margin-bottom: 0px;
    text-align: left;
}
.horizontal-scroll {
    display: flex;
    gap: var(--home-card-gap);;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px 0px 8px;
    scroll-snap-type: x proximity;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    margin-left: 16px;
}
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}
.content-card {
    flex: 0 0 calc(
        (100% - (var(--home-card-gap) * (var(--home-card-per-view) - 1)))
        / var(--home-card-per-view)
    );
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
        box-shadow: 0 2px 8px rgba(0,0,0,.08);
}
.content-title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 0.7;
}
.content-thumb {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
}
.content-description {
    font-size: 14px;
    color: #999;
    margin: 0;
    line-height: 1.5;
    flex: 1;
}
.content-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    flex: 1;
}
.content-btn {
    margin-top: auto;
}
.home-section {
    margin-bottom: 28px;
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0 16px;
}
.section-header h2 {
    margin: 0;
}
.section-header a {
    text-decoration: none;
}

@media (min-width:768px) {
    :root {
        --home-card-per-view: 3.25;
    }
    .header h1 {
        font-size: 24px;
        margin-bottom: 6px;
    }
    .container {
        margin: 0;
        padding:0;
    }
    .container-explore {
    margin: 0;
    padding:16px;
    }
}   

@media (min-width:1024px) {
    :root {
        --home-card-per-view: 4.25;
    }
    .header h1 {
        font-size: 28px;
        margin-bottom: 0px;
    }
    .container {
        margin: 0;
        padding:0;
    }
    .container-explore {
    margin: 0;
    padding:16px;
    }
}

@media (min-width:1440px) {
    :root {
        --home-card-per-view: 5.25;
    }
    .header h1 {
        font-size: 32px;
        margin-bottom: 0px;
    }    
    .container {
        margin: 0;
        padding:0;
    }
    .container-explore {
    margin: 0;
    padding:16px;
    }
}

/* ==========================
   BUTTON
========================== */

.btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:8px;
    border:none;
    border-radius:12px;
    padding:10px;
    font-size:15px;
    font-weight: 400;
    letter-spacing: 0.01rem;
    text-decoration:none;
    cursor:pointer;
    transition:.2s;
}
.btn-primary{
    background:var(--primary);
    color:#fff;
}
.btn-primary:hover{
    background:var(--primary-dark);
}
.btn-outline{
    background:var(--card);
    color:var(--primary);
    border:1px solid var(--primary);
}
.btn-outline:hover{
    background:var(--primary);
    color:#fff;
}
.btn:disabled{
    background:#ccc;
    color:#666;
    border:none;
    cursor:not-allowed;
}
.w-100{width:100%;}
.quiz-btn,
.start-btn,
.comic-btn,
.tts-btn, 
.case-btn{
    width:100%;
}

/* ==========================
   FEATURED HERO
========================== */

.featured-hero{
    position:relative;
    width:100%;
    aspect-ratio:4 / 3;
    margin:0 0 170px;
    border-radius:0;
    overflow:visible;
    display:block;
    background-color:#d1d5db;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    box-shadow:var(--shadow);
}
.featured-hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(
        to top,
        rgba(0,0,0,.82) 10%,
        rgba(0,0,0,.45) 45%,
        rgba(0,0,0,.15) 100%
    );
}
.featured-overlay{
    position:absolute;
    left:0;
    right:0;
    z-index:2;
    padding:24px;
    display:flex;
    flex-direction:column;
    gap:16px;
    color:#fff;
}
/*
.featured-badge{
    align-self: flex-start;
    backdrop-filter: blur(16px);
    font-size: 28px;
    border-bottom: 1px solid #ffffff;
    font-weight: 700;
    padding-bottom: 8px;
}*/
.featured-badge{
    display:inline-flex;
    align-items:center;
    gap:6px;
    padding:6px 12px;
    border-radius:999px;
    font-size:15px;
    font-weight:700;
    color:#fff;
    background:rgba(0,0,0,.45);
    backdrop-filter:blur(8px);
    width: 120px;
}
.featured-item{
    align-self: flex-start;
    font-size: 16px;
    font-weight: 700;
}
.featured-title{
    margin:0;
    font-size:28px;
    line-height:1.2;
}
.featured-description{
    margin:0;
    max-width:400px;
    line-height:1.2;
    padding-bottom:8px;
    color:rgba(255,255,255,.9);
}
.featured-btn{
    width:25%;
    padding-inline:24px;
    margin-top:auto;
}
.featured-title{
    font-size:24px;
}
.featured-description{
    font-size:14px;
}
.featured-btn{
    width:max-content;
    padding: 10px 24px;
    padding-inline:24px;
}

/* ==========================
   FEATURED LATEST
========================== */

.featured-latest{
    position:absolute;
    left:0;
    right:0;
    top:calc(100vw / 2);
    display:flex;
    gap:16px;
    padding:20px;
    overflow-x:auto;
    overflow-y:visible;
    z-index:3;
    scrollbar-width:none;
    -webkit-overflow-scrolling:touch;
}
.featured-latest::-webkit-scrollbar{
    display:none;
}
.featured-card{
    flex: 0 0 calc((100% - (var(--home-card-gap) * (var(--home-card-per-view) - 1))) / var(--home-card-per-view));
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    background: #fff;
    border-radius:16px;
    overflow:hidden;
    box-shadow:0 6px 18px rgba(0,0,0,.18);
    cursor:pointer;
    transition:.2s;
}
.featured-card-thumb{
    width:100%;
    aspect-ratio:4/3;
    object-fit:cover;
    display:block;
    margin-bottom:3px;
}
.featured-card-info{
    display:flex;
    flex-direction:column;
    gap:6px;
    padding:12px;
    min-height:110px;
}
.featured-card-type{
    display:inline-block;
    margin-bottom:6px;
    padding:4px 8px;
    border-radius:999px;
    background:#eef4ff;
    color:var(--primary);
    font-size:12px;
    font-weight:600;
}
.featured-card-title{
    margin:0;
    font-size:14px;
    line-height:1.25;
    color:var(--text);
    flex:1;
}
.featured-card-description{
    margin:0;
    max-width:400px;
    line-height:1.25;
    padding-bottom:6px;
    color: #999;
    font-size: 13px;
    text-overflow: ellipsis;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
}
.featured-items{
    width: max-content;
    max-height: fit-content;
    background: #990000;
    color: #ffffff;
    font-weight: 400;
    border-radius: 99px;
    padding: 3px 6px;
}

@media (min-width:768px){
    .featured-hero{
        width:100%;
        aspect-ratio:3/2;
        border-radius:0px;
        margin-bottom:160px!important;
    }
    .featured-overlay{
        top:120px;
        padding:32px;
    }
    .featured-item{
    align-self: flex-start;
    font-size: 17px;
    font-weight: 700;
    }
    .featured-card{
        flex: 0 0 calc((100% - (var(--home-card-gap) * (var(--home-card-per-view) - 1))) / var(--home-card-per-view));
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    }
    .featured-latest{
        top: calc((100vw / 2) - 60px)!important;
    }

    /*======*/
    .content-card.premium::before,
.list-card.premium::before,
.featured-card.premium::before{
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:0;
    height:0;

    border-top:56px solid #e53935;
    border-left:56px solid transparent;

    z-index:10;
}

.content-card.premium::after,
.list-card.premium::after,
.featured-card.premium::after{
    content:"★";
    position:absolute;
    top:6px;
    right:6px;

    color:#fff;
    font-size:20px;
    font-weight:bold;
    line-height:1;

    z-index:11;

    transform:rotate(0deg);
}
}

@media (min-width:1024px){
    .featured-card{
        flex: 0 0 calc((100% - (var(--home-card-gap) * (var(--home-card-per-view) - 1))) / var(--home-card-per-view));
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    }
    .featured-hero{
        width:100%;
        aspect-ratio:2/1;
        border-radius:0px;
        margin-bottom:180px!important;
    }
    .featured-latest{
        top: calc((100vw / 2) - 220px)!important;
    }
}

/* Badge Premium */

.content-card.premium,
.list-card.premium,
.featured-card.premium{
    position:relative;
    overflow:hidden;
}

.content-card.premium::before,
.list-card.premium::before,
.featured-card.premium::before{
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:0;
    height:0;

    border-top:36px solid #e53935;
    border-left:36px solid transparent;

    z-index:10;
}

.content-card.premium::after,
.list-card.premium::after,
.featured-card.premium::after{
    content:"★";
    position:absolute;
    top:4px;
    right:4px;

    color:#fff;
    font-size:14px;
    font-weight:bold;
    line-height:1;

    z-index:11;

    transform:rotate(0deg);
}


